.nav-item {
    text-align: right;
    font-family: 'Raleway', sans-serif;
}
#colour {
color: #ADD8E6;
}
.bg-light {
    background-color: dimgray;
}

#first-letter {
    color: #ADD8E6;
    font-size: xx-large;
}